    <header>
        <nav class="navbar">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/addDirectory" method="post" class="addForm">
        <div class="directory">
            <h3>Here you can add directory with songs.</h3>
             <input type="file" id="folderInput" name="songDirectory" webkitdirectory multiple />
             <label for="folderInput">Add song directory</label>
             <button type="submit">Add</button>
              <button type="submit"><a href="home">Cancel</a></button>
             </div>
        </form>
    </main>
    <footer>
        <nav class="navbar-footer">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
                <li>
                    <p>&copy; All rights reserved</p>
                </li>
            </ul>
        </nav>
    </footer>