<form action="/addDirectory" method="post" class="addForm">
    <div class="directory">
        <h3>Here you can add directory with songs.</h3>
        <input type="file" id="folderInput" name="songDirectory" webkitdirectory multiple />
        <label for="folderInput">Add song directory</label>
        <button type="submit">Add</button>
        <button type="submit"><a href="home">Cancel</a></button>
    </div>
</form>