<form action="/addSong" method="post" class="addForm">
    <h1>Add your song</h1>
    <label for="name">Song name</label>
    <input type="text" name="name" placeholder="Enter song name here...">
    <div class="add">
        <button type="button">Upload</button>
        <input type="file" name="image" id="image">
        <label for="image">Add image</label>
        <span>Choose image</span>
    </div>
    <div class="add">
        <button type="button">Upload</button>
        <input type="file" name="audio" id="audio">
        <label for="audio">Add audio</label>
        <span>Choose song</span>
    </div>
    <button type="submit">Add</button>
</form>