<section class="cancel">
    <h1>Are you sure?</h1>
    <a href="/playlists/{{id}}/delete/yes"><button type="button">Yes</button></a>
    <a href="/playlists/{{id}}/delete/no"><button type="button">No</button></a>
</section>