<form action="/delete" method="post" class="songs">
    <h1>Which playlist do you want to delete?</h1>
    <input type="text" placeholder="enter playlist name" name="deletePlaylist">
    <button type="submit">Delete</button>
</form>