<div class="details">
    <img src="/public/songsAndImg/alternative1.png">
    <h3>Very good music</h3>
    <audio controls>
        <source src="/public/only songs/22. Shape Shifter.mp3" type="audio/mpeg">
    </audio>
    <div class="buttons">
        <a href="#" id="like"><i class="fa-solid fa-thumbs-up"></i> 5</a>
        <i class="fa-solid fa-thumbs-up" id="liked"><span> 5</span></i>
        <a href="#">Delete</a>
    </div>
</div>