<header>
        <nav class="navbar">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
            <li>    
            <div>
                <a href="confirmLogOut">log out</a>
            </div>
            </li>
            <li><i class="fa-solid fa-circle-user" id="icon"></i></li>
            <li>
            {{#each curClient}}
            <div>
                <h3>{{username}}</h3>
            </div>
            {{/each}}
            </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="cancel">
           <h1>This song is already in the list!</h1>
           <button type="button"><a href="Create">Ok</a></button>
        </section>
    </main>
    <footer>
        <nav class="navbar-footer">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
                <li>
                    <p>&copy; All rights reserved</p>
                </li>
            </ul>
        </nav>
    </footer>