    <header>
        <nav class="navbar">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="cancel">
            <h3>Your username or password are invalid.</h3>
            <div>
                <button type="button"><a href="logIn">Ok</a></button>
            </div>
        </section>
    </main>
    <footer>
        <nav class="navbar-footer">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
                <li>
                    <p>&copy; All rights reserved</p>
                </li>
            </ul>
        </nav>
    </footer>