<div class="title">
    <h1>Welcome! You can search for songs here!</h1>
</div>
<form action="/search" method="get" class="search">
    <input text="text" name="artist" placeholder="Enter artist name...">
    <input type="text" name="name" placeholder="Enter song name...">
    <button type="submit">Search</button>
</form>
<section class="songs">
    {{#each songs}}
    {{> homeSongs}}
    {{else}}
    <p>No songs yet</p>
    {{/each}}
</section>