<section class="input">
    <h3>Hello! Here you can log in , if you don't have registration click "sign in" button.</h3>
    <div>
        <button type="button"><a href="signIn">sign in</a></button>
        <button type="button"><a href="logIn">log in</a></button>
    </div>
</section>