<div class="title">
    <h1>There are your playlists.</h1>
    <a href="/playlists/create"><button>Create playlist</button></a>
</div>
<section class="playlists">
    {{#each playlists}}
    {{> playlists}}
    {{else}}
    <p>No playlists yet</p>
    {{/each}}
</section>