<div class="title">
    <h1>There are your playlists.</h1>
    <a href="/playlists/create"><button>Create playlist</button></a>
</div>
<section class="playlists">
    {{#each playlists}}
    <div>
        <h3>{{playlistName}}</h3>
        <div class="playlist-buttons">
            <a href="#">Delete</a>
            <a href="#">Details</a>
        </div>
    </div>
    {{/each}}
</section>