    <header>
        <nav class="navbar">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="signIn" method="post" class="sign-in">
            <h3>Enter your data</h3>
            <input type="text" name="username" placeholder="Enter username">
            <input type="text" name="password" placeholder="Enter password">
            <button type="submit">register</button>
        </form>
    </main>
    <footer>
        <nav class="navbar-footer">
            <ul>
                <li><img src="/public/songsAndImg/player.png" alt="logo"></li>
                <li><a href="home">songs</a></li>
                <li><a href="playlists">playlists</a></li>
                <li>
                    <p>&copy; All rights reserved</p>
                </li>
            </ul>
        </nav>
    </footer>