<form action="/CreateNote.html" method="post" class="container">
<div class="content">
        <h1>Създайте своята бележка</h1>
    </div>
    <div class="content">
        <textarea type="text" name="description"></textarea>
    </div>
        <div class="content">
         <button type="submit">Създай</button>
    </div>
</form>