body {
    margin: 0;
    background-color: rgb(72, 72, 72);
}


/*header*/

.navbar {
    padding: 5px;
    background-color: red;
    width: auto;
    margin: auto;
}

.navbar ul li {
    display: inline-block;
    margin: 10px;
}

.navbar ul li img {
    width: 70px;
    display: inline-block;
    margin: -20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

.navbar ul li a:hover {
    color: lightgray;
}

.title {
    display: block;
    margin: 0 auto;
}

.title h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

.title a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

.title button {
    display: block;
    margin: 0 auto;
    font-size: 18pt;
}

.button {
    margin: 0 auto;
    width: 600px;
}

.button div {
    display: inline-block;
    margin-right: 150px;
    margin-left: 10px;
}

.navbar li div {
    display: inline-block;
}

.navbar li i {
    margin-left: 700px;
}


/*main*/

.songs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin: 0 auto;
    background-color: grey;
    width: 1400px;
    height: auto;
    padding: 20px;
    margin-bottom: 140px;
    border-radius: 30px;
}

.songs div {
    background-color: rgb(98, 97, 97);
    border: solid black 1px;
    border-radius: 20px;
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 10px;
}

.songs ul li {
    display: block;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
}

details:active {
    color: lightgray;
}

audio {
    display: block;
    width: 400px;
    margin: 0 auto;
}

h3 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.songs p {
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.songs button {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 18pt;
    text-decoration: none;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

.songs button:hover {
    background-color: brown;
    color: lightgray;
}

.songs a {
    text-decoration: none;
    padding-bottom: 10px;
    height: 50px;
}


/*footer*/

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-footer {
    padding: 5px;
    background-color: black;
    width: auto;
    margin: auto;
}

p {
    display: block;
    text-align: center;
    color: white;
    font-size: 12pt;
    margin: 30px;
}


/*playlists.html*/

button,
.button button {
    background-color: red;
    border: solid black 1px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    display: block;
}

button a,
.button button a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.button button:hover {
    background-color: brown;
}

button:hover {
    background-color: brown;
}

button a:hover {
    color: lightgray;
}

.button button a:hover {
    color: lightgray;
}

.songs details {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(98, 97, 97);
}

.songs details:active {
    color: lightgray;
}

.songs .curSong {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(39, 38, 38);
}

.songs .curSong:active {
    color: lightgray;
}


/*Create.html*/

form {
    display: block;
    margin: 0 auto;
    background-color: rgb(150, 149, 149);
    text-align: center;
    padding: 10px;
    width: 700px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.addSong {
    display: block;
}

.addSong input,
button {
    display: inline-block;
    margin: 30px;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

form button {
    width: 100px;
    height: 50px;
    font-size: 16pt;
}


/*addSong.html*/

.addForm {
    display: block;
    margin: 0 auto;
    background-color: rgb(150, 149, 149);
    text-align: center;
    padding: 10px;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.addForm label {
    display: block;
    text-align: center;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.addForm input {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 12pt;
}

.addForm input::placeholder {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.add {
    margin: 20px;
}

.add label {
    display: inline-block;
    font-size: 16pt;
    color: white;
    border: solid 1px black;
    border-radius: 20px;
    background-color: red;
    cursor: pointer;
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 150px;
}

.add input {
    display: none;
    width: 300px;
}

.add label:hover {
    background-color: brown;
    color: lightgrey;
}

.add button {
    display: none;
}


/*cancel*/

.cancel {
    margin: 0 auto;
    background-color: grey;
    width: 400px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border-radius: 10px;
}


/*delete*/

.deleteButton {
    color: white;
    margin: 0 auto;
    display: block;
    width: 500px;
}

.deleteButton button {
    display: inline-block;
    margin: 15px 30px;
}


/*addDirectory*/

.directory input {
    display: none;
}

.directory label {
    background-color: red;
    color: white;
    border: solid 1px black;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.directory label:hover {
    background-color: brown;
    color: lightgray;
}


/*deleteAllSong*/

.deleteAllSongs {
    margin: 0 auto;
    background-color: grey;
    width: 300px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.deleteAllSongs button {
    display: block;
    margin: 0 auto;
}


/*input*/

.input {
    display: block;
    margin: 0 auto;
    background-color: grey;
    padding: 10px;
    width: 400px;
}

.input div {
    margin: 0 auto;
}

.input div button {
    display: inline-block;
    margin-left: 75px;
}


/*sign in*/

.sign-in {
    display: block;
    margin: 0 auto;
    background-color: rgb(150, 149, 149);
    text-align: center;
    padding: 10px;
    width: 600px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 18pt;
}

.sign-in input {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 400px;
    height: 50px;
    font-size: 14pt;
}

.sign-in input::placeholder {
    font-size: 12pt;
}

.sign-in button {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 18pt;
}

.sign-in p {
    font-size: 14pt;
}

.sign-in p a {
    color: rgb(204, 7, 7);
    text-decoration: none;
}

.sign-in p a:hover {
    color: red;
}

#icon {
    color: white;
    font-size: 30px;
}


/*details*/

.details {
    display: block;
    margin: 0 auto;
    width: 700px;
    height: auto;
    border-radius: 30px;
    background-color: grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: white;
}

.details img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}

.details audio {
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.details a {
    display: inline-block;
    margin-right: 30px;
    width: auto;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.details a:hover {
    background-color: brown;
    color: lightgray;
}

#like {
    display: inline-block;
    margin-right: 30px;
    width: auto;
    height: 35px;
    background-color: rgb(98, 97, 97);
    color: white;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#like:hover {
    background-color: rgb(39, 38, 38);
    color: lightgray;
}

#liked {
    display: inline-block;
    border-radius: 20px;
    color: lightgray;
    background-color: rgb(39, 38, 38);
    width: 80px;
    height: 35px;
    padding-top: 10px;
    font-size: 18pt;
    margin-right: 30px;
}

#liked span {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.playlists {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
    padding: 20px;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 150px;
    border-radius: 10px;
}

.playlists div {
    display: block;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    background-color: rgb(98, 97, 97);
    padding: 20px;
    border-radius: 20px;
    height: 100px;
    margin-bottom: 30px;
}

.playlists div h3 {
    display: inline-block;
    margin-top: 40px;
}

.playlists div .playlist-buttons {
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 20px;
    left: 1020px;
    margin-bottom: 30px;
}

.playlists div .playlist-buttons a {
    display: inline-block;
    text-decoration: none;
    width: auto;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 18pt;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 30px;
}

.playlists div .playlist-buttons a:hover {
    background-color: brown;
    color: lightgrey;
}

.search {
    display: block;
    background-color: rgb(72, 72, 72);
    margin: 0 auto;
    margin-bottom: 20px;
}

.search input {
    width: 400px;
    background-color: grey;
    border: none;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

.search input::placeholder {
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

.page-not-found {
    display: block;
    margin: 0 auto;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: auto;
    text-align: center;
    font-size: 16pt;
    padding: 20px;
    margin-top: 40px;
}

.page-not-found p {
    font-size: 14pt;
}

.page-not-found p a {
    text-decoration: none;
    color: rgb(204, 7, 7);
}

.page-not-found p a:hover {
    color: red;
}

.notification {
    position: fixed;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: red;
    right: 50px;
    top: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.notification p {
    text-align: center;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

.error {
    border-bottom: solid 3px red;
}