body {
    margin: 0;
    background-color: rgb(26, 25, 25);
}

@keyframes gradient {
    0% {
        border-color: #8000ff;
    }
    50% {
        border-color: blue;
    }
    100% {
        border-color: #8000ff;
    }
}

@keyframes background-gradient {
    0% {
        background-color: #8000ff;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: #8000ff;
    }
}

@keyframes background-gradient-1 {
    0% {
        background-color: purple;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: purple;
    }
}

@keyframes color-gradient {
    0% {
        color: #8000ff;
    }
    50% {
        color: blue;
    }
    100% {
        color: #8000ff;
    }
}

.main {
    margin: 0 auto;
    width: 500px;
    height: auto;
    display: block;
}

.main h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #8000ff;
    display: block;
}

.main label {
    text-align: center;
    display: block;
    color: #8000ff;
    font-size: 20pt;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}

.content {
    border: solid 3px;
    animation: gradient 3s infinite;
    width: 162px;
    height: 95px;
    color: #8000ff;
    text-align: center;
    font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
}

.buttons {
    display: inline-block;
    margin: 20px;
}

.inactive {
    margin-left: 80px;
    color: white;
    border-radius: 10px;
    border: solid 1px #8000ff;
    width: 50px;
    height: 30px;
    font-size: 15pt;
    margin-right: 90px;
    animation: background-gradient 3s infinite;
}

.active {
    background-color: white;
    animation: color-gradient 3s infinite;
}

.new-game-button {
    color: white;
    border-radius: 10px;
    border: solid 1px #8000ff;
    width: 70px;
    height: 40px;
    font-size: 12pt;
    text-align: center;
    margin-left: 210px;
    animation: background-gradient-1 3s infinite;
}

.new-main {
    margin: 0 auto;
    width: 500px;
    height: 100px;
    display: block;
    background-color: #8000ff;
    padding: 20px;
}