<div class="container">
        <h1>Двоичен калкулатор</h1>
    <div class="content">
        <label>Въведете двоичното число:</label>
        <input class="content-input" type="text" id="binaryNum">
    </div>
    <div class="content">
        <label>Десетично число:</label>
        <input class="content-input" type="text" id="result2" readonly="readonly">
    </div>
    <div class="content">
        <button type="button" id="convert">Конвертирай</button>
    </div>
        <script src="/public/js/binaryCalculator.js"></script>
</div>