<div class="container">
    <div class="content">
        <h1>Добре дошли!</h1>
    </div>
    <div class="content">
        <p>Изберете калкулатора, който искате да използвате:</p>
    </div>
    <div class="button">
        <button class="button" type="button"><a href="binaryCalculator.html">Двоичен калкулатор</a></button>
    </div>
    <div class="button">
        <button class="button" type="button"><a href="standartCalculator.html">Стандартен калкулатор</a></button>
    </div>
    <div class="content">
        <button type="button" id="info"><a href="info.html">?</a></button>
    </div>
</div>