<div class="container">
    <div class="content">
        <h1>Здравейте!<h1>
    </div>
    <div class="content">
        <p>Тук ще намерите информация за двата калкулатора.</p>
    </div>
   <div class="content">
    <details>
        <summary>Двоичен калкулатор</summary>
        <p class="details">Двоичния калкулатор работи като въведете двоично число и чрез бутона конвертирай, го превръща в десетично число, като имате предвид че двоичните числа съдържат само 0 и 1.</p>
    </details>
      <details>
        <summary>Стандартен калкулатор</summary>
        <p class="details">Стандартния калкулатор извършва 5 вида операции между две числа и те са: събиране, изваждане , умножение, деление и степенуване като въвеждате първото число след това оператор(въвежда се по този начин: +, -, *, /, ^; другия начин с имена на кирила или латиница примерно вместо + може да въведете плюс) и след това второто число.</p>
    </details>
    </div>
</div>