<div class="container">
         <h1>Калкулатор</h1>
    <form>
        <div class="content">
            <label class="form-label">Въведете първото число:</label>
            <input class="form-input" type="number" id="a">
        </div>
        <div class="content">
            <label>Въведете оператор:</label>
            <input class="content-input" type="text" id="operator">
        </div>
        <div class="content">
            <label>Въведете второто число:</label>
            <input class="content-input" type="number" id="b">
        </div>
        <div class="content">
            <label>Резултат:</label>
            <input class="content-input" type="text" id="result1" readonly="readonly">
        </div>
        <div class="content">
            <button type="button" id="calc">Изчисли</button>
        </div>
        <script src="/public/js/standartCalculator.js"></script>
    </form>
</div>