<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming club</title>
    <script src="https://kit.fontawesome.com/2553465cd5.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/upload.js"></script>
    <script src="/static/js/notification.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/games/catalog">CATALOG</a></li>
                <li><a href="/games/search">SEARCH</a></li>
                {{#if hasUser}}
                <li><a href="/games/create">CREATE</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/logout">LOGOUT</a></li>
                {{else}}
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTER</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div>
            <p>@Gaming club</p>
        </div>
        <ul>
            <li>
                <i class="fa-brands fa-facebook"></i>
                <a href="#">Facebook</a>
            </li>
            <li>
                <i class="fa-brands fa-instagram"></i>
                <a href="#">Instagram</a>
            </li>
            <li>
                <i class="fa-brands fa-twitter"></i>
                <a href="#">Twitter</a>
            </li>
        </ul>
    </footer>
</body>

</html>