    <div class="container">
        <div class="content">
            <h1>Добре дошли!</h1>
        </div>
        <div class="content">
            <div class="button">
                <button type="button"><a href="Chronometer.html">ХРОНОМЕТЪР</a></button>
            </div>
            <div class="button">
                <button type="button"><a href="Timer.html">ТАЙМЕР</a></button>
            </div>
        </div>
    </div>