{{#if errors}}
<div class="error">
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}
<form method="post">
    <h3>Write your comment</h3>
    <div class="edit-comment">
    <input {{#if errors}}class="errorField"{{/if}}type="text" name="content" value="{{content}}">
    <button type="submit">Submit</button>
    </div>
</form>