<div class="home">
    <h1>Welcome to gaming club!</h1>
    <img src="/static/images/gaming-banner-for-games-with-glitch-effect-neon-light-on-text-illustration-design-free-vector.jpg"
        alt="gaming">
    <p>Here you can found most different and varied games!</p>
</div>