{{#if errors}}
<div class="error">
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}
<form method="post">
    <h3>Here you can make your registration</h3>
    <label {{#if errors.username}}class="errorLabel"{{/if}}>Username</label>
    <input {{#if errors.username}}class="errorField"{{/if}} type="text" name="username" value="{{fields.username}}">
    <label {{#if errors.password}}class="errorLabel"{{/if}}>Password</label>
    <input {{#if errors.password}}class="errorField"{{/if}} type="password" name="password">
    <button type="submit">Submit</button>
</form>