<h1>Search for games here</h1>
<form method="GET" class="search-form">
    <input name="name" type="text" placeholder="Enter game name...">
    <button type="submit">Search</button>
</form>
<div class="catalog-wrapper">
    {{#each games}}
    {{> games}}
    {{else}}
    <h1>No results :(</h1>
    {{/each}}
</div>